<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipSplit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>994CE6AF1C6BDA0D00F55234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994CE6C81C6BDA0D00F55234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994CE6D31C6BDA0D00F55234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
